/* Global styles */
@font-face {
    font-family: 'Inter';
    src: url('/public/font/Inter-Regular.ttf');
    /* Add additional src declarations for different font formats if necessary */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Default font for the body */
body {
    font-family: 'Poppins', sans-serif;
}

/* Timer styles */
#timerDiv {
    position: relative;
    font-family: 'Digital';
    border-radius: 30px;
    padding: 3px 40px;
    background: linear-gradient(#41424b, #393941) padding-box,
        linear-gradient(0deg, #5D5E6C, #41424b) border-box;
    border: 5px solid transparent;
    animation: gradientAnimation 5s infinite;
}

/* Animation keyframes for timer gradient */
@keyframes gradientAnimation {
    0% { background: linear-gradient(#41424b, #393941) padding-box, linear-gradient(18deg, #5D5E6C, #41424b) border-box; }
    5% { background: linear-gradient(#41424b, #393941) padding-box, linear-gradient(36deg, #5D5E6C, #41424b) border-box; }
    /* Add more keyframes as needed */
}

/* Timer text styles */
.timerDiv p {
    font-size: 40px;
    font-weight: bold;
}

.timerDiv span {
    position: relative;
    font-size: 12px;
    font-weight: bold;
    top: -25px;
}

/* Navigation styles */
nav {
    position: relative;
}

nav::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: auto;
    height: 1px;
    background-image: linear-gradient(to right, #5D5E6C, #444554, #5D5E6C);
}

/* Input styles */
.inputStyle,
.inputStyleBg {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 100%;
    padding: 10px;
}

.inputStyleBg {
    padding: 10px 30px;
}

.inputMain {
    position: relative;
    overflow: hidden;
    font-weight: 500;
    padding: 10px 20px;
    background-color: #5D5E6C;
    color: #fff;
    border: none;
    outline: none;
    background-position: center;
    transition: background 0.8s;
    cursor: pointer;
}

.inputMain:hover {
    background: #5D5E6C radial-gradient(circle, transparent 1%, #eeeef0 1%) center/15000%;
}

.inputMain:active {
    background-color: #5D5E6C;
    background-size: 100%;
    transition: background 0s;
}

/* Page background */
.mainPagebg {
    background-color: #5D5E6C;
    background-image: url('/public/background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* Wallet list styles */
.walletList {
    background: #1F1F1F;
    transition: all 0.1s;
    cursor: pointer;
}

.walletList:hover {
    background: rgb(103, 101, 101);
}

/* Title text gradient animation */
.titleText {
    background: linear-gradient(to right, #d9d9de, #9091a0, #5d5e6c, #41424b, #f7f7f8);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Responsive styles */
@media screen and (max-width: 950px) {
    .mainPagebg {
        background-color: #5D5E6C;
        background-image: url('/public/background.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
}
